body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.toss-section
 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.0625rem solid #ddd;
    padding: 1.25rem 1.875rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.toss-result {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.team-option,
.action-option,
#start-match-button{
    background-color: #4CAF50; /* Example color */
    border: none;
    color: white;
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.0rem;
    margin: 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}
.selected {
    background-color: #3085d6; /* A darker blue, for example */
}