/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Login Form Styles */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-form.logo {
    width: 50px;
    height: 50px;
}

.logo img {
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 2%;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #0099E6; /* light blue */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button[type="submit"]:hover,
.login-form button[type="submit"]:active {
    background-color: #4682B4; /* dark blue */
}

.login-form p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.login-form a {
    text-decoration: none;
    color: #0099E6;
}

.login-form a:hover {
    color: #4682B4;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .container {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
  .container {
        max-width: 250px;
    }
}