/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(204, 216, 216);
}

.head {
  margin-top: 2rem; /* Adjust margin for smaller screens */
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(204, 216, 216);
}
.navbar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #f0f0f0;
}
.navbar.logo {
  margin-right: 1rem;
}

.profile-button img {
  width: 3rem;
  height: 2.5rem;
  border-radius: 50%;
}

.logo img {
  width: 8rem;
  height: 4rem;
  border-radius: 2%;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0.5rem 1.5rem 0.5rem 1.5rem;
  padding: 0;
}

.nav-links li {
  margin-right: 1.5rem;
  font-size: 16px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0d65a8;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

#login-button {
  background-color: #0099e6;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-button:hover {
  background-color: #4682b4;
  border: 0.05rem solid black;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border: 50%;
  margin-left: 1rem;
}

/* Content Styles */

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem; /* Adjust margin for smaller screens */
  padding: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#profile-title {
  font-size: 20px;
}
.matches_list {
  text-decoration: none;
  color:#06386e;
}
.matches_list:hover{
  color:#2e87e5;
}
#title {
  display: flex;
  justify-content: space-between;
  width: 30rem; /* Adjust width for smaller screens */
}

.title-content {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.05rem solid black;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
#top-outer {
  display: flex;
  align-items: space-around;
}
.tab-content {
  position: relative;
  top: 0.5rem;
  margin-top: 1.5rem;
  display: none;
  width: 30rem; /* Adjust width for smaller screens */
  border: 0.15rem solid rgb(40,0,0);
  border-radius: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

#live {
  background-color: rgb(40, 159, 149);
}
.match_link {
  text-decoration: none;
  color: black;
}
#tab-content-live {
  display: block;
}

.info {
  display: flex;
  background-color: rgb(249, 247, 247);
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 0.15rem;
  margin: 0.5rem auto;
}
.details {  
  text-align: center;
}
.info-upcoming {
  display: flex;
  background-color: rgb(249, 247, 247);
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 0.15rem;
  margin: 0.5rem auto;
}
.details-up {  
  text-align: center;
}
#content {
  animation: slide-in 1s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(100%);  /* Adjust for desired slide distance */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info:hover {
  background-color: rgb(130, 180, 180);
}

/* Responsive Styles */

@media screen and (max-width: 775px) {
  .navbar {
    flex-direction: column;
  }
  .navbar1 {
    flex-direction: column;
  }
  #title {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    padding: 0px;
  }
  .title-content {
    position: relative;
    left: 0rem;
    width: 10rem;
  }
  .tab-content {
    /*  //margin:auto; */
    width: 98%;
    flex: 1;
    padding: 0px;

    align-self: center;
    justify-content: center;
  }
  .info {
    display: flex;
    justify-content: center;
    width: auto;
    font-size: 20px;
    height: auto;
  }
}
@media screen and (max-width: 441px) {
  .tab-content {
    /*  //margin:auto; */
    width: 300px;
    flex: 1;
    padding: 0px;

    align-self: flex-start;
  }
}
#profile-info {
  position: fixed; /* Position fixed to stay in place on scroll */
  top: 7rem; /* Adjust top position as needed */
  right: 1rem; /* Space from right edge */
  width: 200px; /* Adjust width as needed */
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.info {
  height: auto;
  width: auto;
  padding: 0.15rem;
  margin: 0.5rem auto;
  background-color: antiquewhite;
  cursor: pointer; /* Add cursor pointer */
}
