.inner
{
    margin:1.875rem;
    font-size: 1.25rem;
}
.buttons
{
    border-radius:0.4375rem; 
    height:1.562rem;
    
    box-shadow: 0.625rem 0.625rem 0.625rem  rgba(0, 0, 0, 0.1);
}
.buttons:hover{
    background-color:rgb(113, 155, 176);
}
.input
{
    border:0.5px solid black;
    border-radius:0.4375rem;
    margin-left:0.9375rem;
    height:1.5625rem;
    box-shadow: 0.3% 0.3% 0.5% rgba(0, 0, 0, 0.3);
}
#Start{
    display:flex;
    justify-content: center;
}

#outer-container
{
    border-radius:0.625rem;
    box-shadow: 0.3125rem 0.3125rem 6.25rem rgba(0, 0, 0, 0.3);
    
}
#outermost
{
    position:relative;
    top:7.8125rem;
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;

}