body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1.25rem;
  }
  
  .scorecard {
    width: 37.5rem;
    margin: auto;
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .teams {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
  }
  .innings1-2 {
    display: flex;
    justify-content: space-between;
  }
  
  .team,
  .vs {
    padding: 0.3125rem 0.625rem;
    font-weight: bold;
    border: 0.0625rem solid #ddd;
  }
  
  .vs {
    background: #eee;
  }
  
  .innings {
    margin-bottom: 1.875rem;
  }
  
  #toss {
    margin-bottom: 10px;
  }
  
  .scoreboard {
    margin-bottom: 1.875rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .batsman-on-strike {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
  }
  
  .team-batting,
  .team-bowling {
    flex-basis: 100%;
    width: 15.625rem;
    margin: 0;
    padding: 0.625rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    margin: 1.25rem;
  }
  
  .score {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.9375rem;
    display: flex;
    align-items: center;
  }
  #score-value,
  #wickets-value,
  #overs-value {
    margin: 0 0.3125rem;
    font-size: 1.125rem;
  }
  
  #overs-value {
    font-size: 1rem;
    margin-left: 9.375rem;
    color: rgb(244, 7, 7);
  }
  .inn1,
  .inn2 {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 1.875rem;
  }
  .inn1, .inn2:focus {
    border: 3px solid black;
  }
  .bowler-overs {
    font-size: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    display: flex;
  }
  
  .previous-balls {
    width: 12.5rem; /* Adjust width as needed */
    display: flex;
    margin: 0.625rem 0; /* Some spacing from scorecard */
  }
  
  .ball {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: #eee;
    text-align: center;
    font-size: 14px;
    line-height: 1.875rem; /* Vertical centering */
    margin-right: 0.3125rem;
  }
  .inn1-content,
  .inn2-content {
    width: 37.5rem;
    margin: auto;
    border: 0.0625rem solid #ddd;
    padding: 0.625rem;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.625rem;
  }
  table {
    border-collapse: collapse;
    margin-top: 0.625rem;
    width: 100%;
    margin-bottom: 1.875rem;
  }
  
  td,
  th {
    border: 0.0625rem solid #ddd;
    padding: 0.5rem;
  }
  
  .inn1,
  .inn2 {
    font-weight: bold; /* Make the text bolder */
    cursor: pointer; /* Change the cursor to look like a link/button */
    border: 0.125rem solid #ddd; /* Add a border  */
    padding: 0.625rem 1.25rem; /* Add padding */
    border-radius: 0.3125rem; /* Add some rounded corners */
    background-color: #f0f0f0; /*  Light background color */
    margin: 1.25rem;
  }
  
  /* Optional hover effect */
  .inn1:hover,
  .inn2:hover {
    background-color: #ddd; /* Slightly darker background on hover */
  }