/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}
.head {
  margin-top: 5.3125rem;
}
/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color:#f0f0f0
}

.navbar.logo {
  margin-right: 1.25rem;
}
.profile-button img{
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  
}

.logo img {
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 2%;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0.625rem 1.875rem 0.625rem 1.875rem;
  padding: 0;
}

.nav-links li {
  margin-right: 2.5rem;
  margin-left: 6.25rem;
  font-size: large;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #4682b4;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

#login-button {
  background-color: #0099e6;
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#login-button:hover {
  background-color: #4682b4;
  border: 0.0625rem solid black;
}

.profile-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: 50%;
  margin-left: 1.25rem;
}

#content {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 7.5rem;
  padding:1.25rem 1.25rem 1.25rem 1.25rem;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}
#title {
  display: flex;
  justify-content: space-between;
  width:37.5rem;

}
.title-content {
  
  text-align: center;
  padding: 0.625rem;
  border-radius:1.25rem;
  border: 0.0625rem solid black;
  cursor: pointer;
  box-shadow:0.625rem 0.625rem 0.625rem rgba(0,0,0,0.1);
}

.tab-content {
  position:relative;
  top:0.625rem;
  margin-top:1.875rem;
  display:none;
  width:62.5rem;
  border: 0.1875rem solid rgb(228, 30, 30);
  border-radius:0.625rem;
  padding-left:0.3125rem;
  box-shadow:0.625rem 0.625rem 0.625rem rgba(0,0,0,0.1);
}
#live
{
  background-color:rgb(200,0,0);
}
#tab-content-live
{
  display:block;
}
.info
{
  height:1.5625rem;
  padding:0.1875rem;
  margin:0.625rem 0.625rem 0.625rem 0.625rem;
  background-color:antiquewhite
}
.info:hover{
  background-color:#b8956b;
}
/* Responsive Styles */