<!DOCTYPE html5>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'FavIcon.png'  %}">
    <title>HowzThat</title>
    <link rel="stylesheet" href="{% static 'home.css' %}" />
  </head>
  <body> 
    <div>
      <nav class="navbar">
        <div class="logo">
          <img src="{% static 'Logo.png' %}" alt="Logo" />
        </div>
        <ul class="nav-links">
          <li><a href="">Home</a></li>
          <li><a href="http://howzthat.pythonanywhere.com/statistics/">Players</a></li>
          <li><a href={{direct}}>Host</a></li>
          <li><a href="http://howzthat.pythonanywhere.com/help/">Help</a></li>
        </ul>
        <div class="nav-buttons">
          {%if user.is_authenticated%}
          <button id="logout-button">Logout</button>
          {%else%}
          <button id="login-button">Login</button> 
          {%endif%}
          <a class="profile-button">
            <img src="{% static 'profile.png' %}" alt="profile" id="profile-img" />
          </a>
        </div>
      </nav>
    </div>
    
    </div>
    <div id="content">
      <div id="title">
        <div class="title-content"  id="live"><a>Live Matches</a></div>
        <div class="title-content" id="upcoming"><a>Upcoming Matches</a></div>
        <div class="title-content" id="recent"><a>Recent Matches</a></div>
      </div>
    <div id="profile-info">
      {%if user.is_authenticated%}
      {% if player %}
        <h2>{{ player.first_name }} {{ player.last_name }}</h2>

        {%if len_selection_matches %}
        <h3>Matches for Selection:</h3>
        <ul>
        {% for match in selection_matches %}
        <li><a href="{% url 'player_selection' match.match_id %}">{{ match.team1 }} vs {{ match.team2 }}</a></li>
        {% endfor %}
        </ul>
        {%endif%}

        {%if len_toss_matches %}
        <h3>Matches To Start:</h3>
        <ul>
        {% for match in toss_matches %}
        <li><a href="{% url 'toss' match.match_id %}">{{ match.team1 }} vs {{ match.team2 }}</a></li>
        {% endfor %}
        </ul>
        {%endif%}

        {%if len_livehost_matches %}
        <h3>Live :</h3>
        <ul>
        {% for match in livehost_matches %}
        <li><a href="{% url 'liveHost' match.match_id %}">{{ match.team1 }} vs {{ match.team2 }}</a></li>
        {% endfor %}
        </ul>
        {%endif%}

      {% endif %}
      {% endif %}
    </div>
        <div class="tab-content" id="tab-content-live">
          {% for match in live_matches %}
            <a href="/liveView/{{ match.match_id }}" class="match_link">  
              <div class="info">
                <p class="details">{{match.team1}} vs {{match.team2}}</p>
                <p class="details">{{match.match_date}} at {{match.match_time}}</p>
                <p class="details">Venue: {{match.venue}}</p>
              </div>
            </a>
          {% endfor %}
    
        </div>
        <div class="tab-content" id="tab-content-upcoming">
          {% for match in upcoming_matches %}
            <div>  
              <div class="info-upcoming">
                <p class="details-up">{{match.team1}} vs {{match.team2}}</p>
                <p class="details-up">{{match.match_date}} at {{match.match_time}}</p>
                <p class="details-up">Venue: {{match.venue}}</p>
              </div>
            </div>
          {% endfor %} 
        </div>
        <div class="tab-content" id="tab-content-recent">
          {% for match in recent_matches %}
            <a href="/match_summary/{{ match.match_id }}" class="match_link">  
              <div class="info">
                <p class="details">{{match.team1}} vs {{match.team2}}</p>
                <p class="details">{{match.match_date}} at {{match.match_time}}</p>
                <p class="details">Venue: {{match.venue}}</p>
              </div>
            </a>
          {% endfor %}
        </div>
    </div>
    <div>
      
    </div>
    
    <script src="{% static 'home.js' %}" ></script>
  </body>
</html>
