{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <div class="logo">
                <img src="logoimage.jpg" alt="Logo">
            </div>
            <h2>Login</h2>
            {% for message in messages %}
            <h5>{{message}}</h5>
            {% endfor %}
            <form method="POST" action="{% url 'login' %}">
                {%csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        </div>
    </div>
</body>
</html>