{% load static %}
<head>
    <link rel="icon" href="{% static 'FavIcon.png'  %}">
    <title>Toss</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'toss.css' %}">
<div id="outer-container">
<div class="container">
    <div class="coin" id="coin">
        <div class="heads">
            <img src="{%static 'heads.png'%}">
        </div>
        <div class="tails">
            <img src="{%static 'tails.png'%}">
        </div>
    </div>
    <div class="buttons">
        <button id="flip-button">
            Flip Coin
        </button>
    </div>
</div>
<h2>Toss</h2>

<form method="POST">
    {% csrf_token %}
    <div>
    <p>{{ match.team1 }}<span> vs </span>{{ match.team2 }}</p>
    <br>
    <label for="toss_winner">Toss Winner:</label>
    <select name="toss_winner" id="toss_winner">
        <option value="{{ match.team1 }}">{{ match.team1 }}</option>
        <option value="{{ match.team2 }}">{{ match.team2 }}</option>
    </select>

    <label for="decision">Decision:</label>
    <select name="decision" id="decision">
        <option value="bat">Bat</option>
        <option value="bowl">Bowl</option>
    </select>

    <button type="submit" id="butt">Start</button>
</div>
</form>
</div>
<script src="{% static 'toss.js' %}"></script>
</body>
